body {
  width: 100%;
  height: max-content;
  background-image: url(../backgroundgif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: system-ui;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu {
  width: 100%;
  background-color: gray;
  height: max-content;
}
.menu ul {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 50px;
}
#user-avt {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#user-avt .credit {
  font-size: 70%;
  margin: 5px 0;
}
#user-avt img {
  width: 30px;
  border-radius: 50%;
}
#user-avt .fa-solid {
  position: absolute;
  color: #fff;
  font-size: 70%;
  left: 51%;
  z-index: 1212;
  bottom: 40%;
  cursor: pointer;
}
.menu-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #b2ccee;
  font-weight: bold;
  position: relative;
}
.menu-control li {
  cursor: pointer;
  padding: 10px;
}
.active-li {
  border-radius: 10px;
  background-color: #a9e6e855;
}
#cart {
  position: relative;
  cursor: pointer;
}
#cart:hover .tabMore {
  display: flex;
}
.countBuy-item {
  position: absolute;
  top: 5px;
  font-weight: bold;
  font-size: 70%;
  color: #fff;
  right: 0px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ff0000;
}
.tabMore {
  position: absolute;
  width: 250px;
  background-color: white;
  left: -300%;
  top: 100%;
  z-index: 12312;
  padding: 10px;
  cursor: unset;
  border-radius: 20px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  height: max-content;
  overflow: auto;
}
.tabMore::-webkit-scrollbar {
  display: none;
}
.btnTabMore {
  display: none;
}
.btnTabMore button {
  background: none;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: bold;
  border: 2px solid #013472;
  border-radius: 10px;
}
.btnTabMore button:hover {
  background-color: #096cec;
  color: #fff;
}
.defaulTab {
  display: flex;
}
.itemTab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: center;
  border: 2px solid #fd522f;
  box-sizing: border-box;
  margin: 5px 0;
  position: relative;
}
.itemTab img {
  width: 100%;
  max-height: 85px;
  border-right: 1px solid gray;
}
.itemInfo {
  width: 100%;
  padding: 0 5px;
  font-size: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid gray;
}
.itemInfoPR {
  display: flex;
  font-size: 80%;
}
.itemInfo-rati {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: 50%;
}
.itemInfo-btn {
  width: 100%;
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}
.itemInfo-btn div {
  width: 50%;
  margin: 0 5px 0 10px;
}
.itemInfo-btn div:hover {
  text-decoration: underline;
}

.credit i {
  text-decoration: underline;
  cursor: pointer;
}
.credit {
  font-weight: bold;
  color: #b2ccee;
}
.credit .point {
  color: #fff;
}
.formLoad {
  width: 300px;
  background-color: #fff;
  border: 1px solid gray;
  position: absolute;
  top: 100%;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  display: none;
  z-index: 1213215;
}
.formLoad select,
.menuSreach select {
  padding: 5px;
  border-radius: 10px;
  outline: none;
}
.formLoad select option,
.formLoad select,
.menuSreach select option,
.menuSreach select {
  background-color: #096cec;
  font-weight: bold;
  color: white;
}
.formLoad select option[value="momo"] {
  background-color: #9561fe;
}
.formLoad select option[value="bank"] {
  background-color: #3803a3;
}
.formLoad select option[value="500"] {
  background-color: #8ea7e9;
}
.formLoad select option[value="1000"] {
  background-color: #6f1ab6;
}
.formLoad select option[value="2000"] {
  background-color: #ff6e31;
}
.formLoad div {
  margin: 5px 0;
}
.formName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
}
.btnForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnForm button {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  background-color: #767676;
  color: #fff;
}
.formCheck {
  position: absolute;
  width: max-content;
  height: max-content;
  background-color: rgb(180, 174, 174, 0.8);
  top: 50%;
  border-radius: 20px;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.formCheck span {
  font-size: 250%;
  animation: checkForm 1s linear infinite alternate;
}
/* -------------------------Body--------------------------- */
.body {
  display: grid;
  grid-template-rows: 0.1fr 2fr;
}
.border {
  width: 100%;
  height: 10px;
  background-color: #fff;
}
.menuSreach {
  width: 100%;
  padding: 10px;
  background-color: #b4aeaecc;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}
.menuSreach div {
  margin: 0 10px;
}
.price {
  display: flex;
  grid-gap: 0 5px;
}
.price input {
  border: 1px solid #767676;
  outline: none;
  border-radius: 10px;
  padding: 0 5px;
  background-color: #b2ccee;
  font-weight: bold;
  color: #fff;
}
.btnSreach {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ffffff22;
  cursor: pointer;
  background-color: #b4aeaecc;
  font-weight: bold;
  color: #fff;
  transition: all 0.5s;
}
.btnSreach:hover {
  border: 1px solid #fff;
}
.menuSreach select option[value="normal"] {
  background-color: #b4aeaecc;
}
.menuSreach select option[value="rare"] {
  background-color: #007ab9;
}
.menuSreach select option[value="superRare"] {
  background-color: #013472;
}
.menuSreach select option[value="epic"] {
  background-color: #a61f69;
}
.menuSreach select option[value="legendary"] {
  background-color: #fd522f;
}
.listItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px 5px;
  position: relative;
}

.item {
  margin: 10px;
  padding: 10px;
  background-color: #80808055;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  font-weight: bold;
  overflow: hidden;
}
.infoItem {
  display: flex;
  flex-direction: column;
}
.img {
  width: 100%;
  text-align: center;
  position: relative;
}
.img::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  content: "";
  background-color: #fff;
  /* background-image: url("/Market_item/login_register/pageMarket/pngegg.png"); */
  background-image: url("../pageMarket/pngegg.png");
  border-radius: 50%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.img img {
  width: 80%;
  height: 144px;
  transition: all 0.5s;
  background-size: cover;
}
.itemName {
  text-align: center;
  padding: 10px 0;
  font-size: large;
  font-weight: bold;
}
.normal {
  border: 2px solid #000;
  color: #000;
}
.rare {
  border: 2px solid #007ab9;
  color: #007ab9;
}
.superRare {
  border: 2px solid #013472;
  color: #013472;
}
.epic {
  border: 2px solid #a61f69;
  color: #a61f69;
}
.legendary {
  border: 2px solid #fd522f;
  color: #fd522f;
}
.piceItem {
  display: flex;
  justify-content: right;
  position: absolute;
  padding: 10px;
  top: 45%;
  transform: translateY(-50%);
  right: -1%;
  font-size: 70%;
}
#priceItem {
  margin: 0 5px;
}
.btnItem {
  display: flex;
  margin: 10px 0;
  justify-content: center;
}
.btnItem button {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.rankRatiry {
  width: max-content;
  padding: 5px;
  font-size: 55%;
  position: absolute;
  top: 1%;
  left: 1%;
  border-radius: 10px;
}
/* ---------------------------------------------------------- */
.load {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 11312321;
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url(../backgroundgif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.load h1 {
  font-size: xxx-large;
  color: #fff;
}
.dotLoadList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dotLoad {
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
  animation: load 0.5s linear infinite alternate;
}

.dotLoad:nth-child(2) {
  animation-duration: 0.51s;
}
.dotLoad:nth-child(3) {
  animation-duration: 0.52s;
}
.dotLoad:nth-child(4) {
  animation-duration: 0.53s;
}
.dotLoad:nth-child(5) {
  animation-duration: 0.54s;
}
.dotLoad:nth-child(6) {
  animation-duration: 0.55s;
}
/* FormBuy */
.formBuy {
  position: fixed;
  z-index: 12313;
  inset: 0;
  background-color: #76767688;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.formBuy form {
  background-color: #ffffff88;
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
}

.NameForm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
}
.formBuy-img {
  width: 100%;
  text-align: center;
  position: relative;
}
.formBuy-img img {
  width: 50%;
  max-height: 200px;
}
.formBuy-ratiry {
  position: absolute;
  top: 2%;
  left: 1%;
  padding: 5px;
  font-size: 80%;
}
.formBuy-priceItem {
  position: absolute;
  right: 2%;
  bottom: 2%;
}
.formBuy-nameItem {
  text-align: center;
  font-size: 150%;
  text-decoration: underline;
}

.itemStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #767676;
}
.itemStats span {
  margin: 5% 0;
}
.formBuy-Footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}
.formBuy-end {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}
.formBuy-end button {
  margin: 2% 0;
  padding: 5px 10px;
  background: none;
  border-color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.formBuy-creditUser span,
.remaining {
  text-decoration: underline;
}
@keyframes load {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -15px);
    background-color: #9561fe;
  }
}
@keyframes checkForm {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 15px);
    color: #fff;
  }
}
